<h1>Stupid Coach</h1>

<div class = "question border-left">
  <p> - YOU </p>
  <p> <%= params[:question] %></p>

</div>

<br>
<div class ="answer border-left">
<p> <strong> <%= @coach_answer %> </strong></p>
<p> - YOUR COACH </p>
</div>
<br>

<%= link_to 'Ask a new question', ask_path %>




<%= params[:question] %>
